* {
    font-family: "Kaisei HarunoUmi", serif;
}
header {
    margin-bottom: 1rem;
    background: linear-gradient(
      90deg,
      rgba(149, 185, 222, 1) 0%,
      rgba(57, 90, 136, 1) 31%,
      rgba(53, 113, 143, 1) 73%,
      rgba(149, 185, 222, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
  }
  h1 {
    color: white;
    font-size:40px;
  }
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }
  aside section{
    margin-left: 1rem;
    margin-right: 0.5rem;
    width: 20%;
    float: left;
    padding: 10px;
  }
 
  .currentWeather {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: rgb(3, 29, 54);
    padding: 10px;
    margin: 10px;
    /* margin-left: 40px; */
    font-size: 20px;
  }
  .futureForecast {
    display: flex;
    flex-direction: row;
    color: rgb(28, 105, 115);

  }
  #searchCity {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(19, 8, 121);
  }
  input[type="text"] {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-block: 0.5rem;
  }
  button {
    border-radius: 0.5rem;
    background-color: rgb(99, 112, 125);
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
  }
  button:hover {
    cursor: pointer;
  }
  hr {
    width: 100%;
    border-color: black;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 2rem;
  }
  p {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 21%;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: rgb(61, 99, 149);
    font-size: 20px;
    
  }